.card{
    border: 3px solid rgb(18, 106, 116);
    text-align: center;
    border-radius: 15px;
    width: 100%;
    flex-direction: column;
    display: flex;
    z-index: 8;
    transition: 0.5s ease;
}

.card h3{
    padding: 1em 0;
}

.card p{
    padding: 0 2em 3em 2em;
    text-align: justify;
}

.project_image{
    filter: contrast(60%);
    z-index: -1;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    transition: 0.5s ease;
}
.card:hover{
    border: 3px solid #00FFFB;
    cursor: pointer;
    box-shadow: 0 0 10px #00FFFB, inset 0 0 10px #00F5F1;
}
.card:hover .project_image{
    filter: contrast(100%);
}