.skill {
    color: #ffffff;
    padding: 15px 20px;
    margin-top: 2em;
    height: clamp(11rem, 0px, 13rem);
    border-radius: 5px;
    background: #05616694;
    transition: 0.25s ease;
}

.circle{
    height: 3em;
    width: 3em;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
}

.skill:hover {
    background: #02cedcf3;
    transform: scale(1.1);
}
.skill img {
    height: 2.2em;
    margin-top: 0.4em;
}
.skill h2 {
    padding: 0.4em 0 0 0.5em;
    color: #ffffff;
    font-family: Barlow;
}
.skill p {
    margin-top: 1em;
}